<mat-card class="project" [class]="{ disabled: isDisabled }">
  <mat-card-header class="header">
    <img
      mat-card-avatar
      [attr.src]="project.logoUrl"
      class="avatar-image"
      [attr.alt]="
        'PROJECT_ITEM.AVATAR.ALT' | translate: { author: project.author }
      "
      [attr.title]="
        'PROJECT_ITEM.AVATAR.ALT' | translate: { author: project.author }
      "
    />
    <mat-card-title
      [innerHtml]="project.title | highlight: filter"
    ></mat-card-title>
    <mat-card-subtitle
      [innerHtml]="
        'PROJECT_ITEM.BY'
          | translate: { author: project.author }
          | highlight: filter
      "
    >
    </mat-card-subtitle>

    <span fxFlex></span>

    <mat-icon
      *ngIf="isInProgress"
      [attr.aria-label]="'PROJECTS.STATES.IN_PROGGRESS' | translate"
      [attr.title]="'PROJECTS.STATES.IN_PROGGRESS' | translate"
      class="state in-progress"
      >hourglass_empty</mat-icon
    >
    <mat-icon
      *ngIf="isProposed"
      [attr.aria-label]="'PROJECTS.STATES.PROPOSED' | translate"
      [attr.title]="'PROJECTS.STATES.PROPOSED' | translate"
      class="state proposed"
      >turned_in_not</mat-icon
    >
    <mat-icon
      *ngIf="isPublished"
      [attr.aria-label]="'PROJECTS.STATES.PUBLISHED' | translate"
      [attr.title]="'PROJECTS.STATES.PUBLISHED' | translate"
      class="state published"
      >done_all</mat-icon
    >
  </mat-card-header>
  <img
    mat-card-image
    [attr.src]="project.imageUrl"
    [attr.alt]="project.title"
    class="main-image"
  />
  <mat-card-content class="content">
    <p [innerHtml]="project.description | highlight: filter"></p>
  </mat-card-content>
  <mat-card-actions align="end" class="actions">
    <a
      [disabled]="isDisabled"
      [href]="project.linedinUrl"
      [attr.title]="'PROJECT_ITEM.LINKEDIN' | translate"
      [attr.arua-label]="'PROJECT_ITEM.LINKEDIN' | translate"
      [attr.arua-label]="'PROJECT_ITEM.LINKEDIN' | translate"
      mat-mini-fab
      color="primary"
      target="_blank"
      class="card-button custom-size"
    >
      <mat-icon svgIcon="linked_in" class="linked-in"></mat-icon>
    </a>
    <a
      [disabled]="isDisabled"
      [routerLink]="['/projects', project.id]"
      [attr.title]="'PROJECT_ITEM.VIEW' | translate"
      [attr.arua-label]="'PROJECT_ITEM.VIEW' | translate"
      [attr.arua-label]="'PROJECT_ITEM.VIEW' | translate"
      mat-mini-fab
      color="primary"
      class="card-button"
    >
      <mat-icon>visibility</mat-icon>
    </a>
    <a
      [disabled]="isDisabled"
      [href]="project.appCodeUrl"
      [attr.title]="'PROJECT_ITEM.CODE' | translate"
      [attr.arua-label]="'PROJECT_ITEM.CODE' | translate"
      [attr.arua-label]="'PROJECT_ITEM.CODE' | translate"
      mat-mini-fab
      color="primary"
      target="_blank"
      class="card-button"
    >
      <mat-icon>code</mat-icon>
    </a>
    <a
      [disabled]="isDisabled"
      [href]="project.appExampleUrl"
      [attr.title]="'PROJECT_ITEM.VIEW' | translate"
      [attr.arua-label]="'PROJECT_ITEM.VIEW' | translate"
      [attr.arua-label]="'PROJECT_ITEM.VIEW' | translate"
      mat-mini-fab
      color="accent"
      target="_blank"
      class="card-button"
    >
      <mat-icon>play_arrow</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
