@import "~@angular/material/theming";

.project {
  margin: 20px;
}

.project:not(.disabled) {
  @include mat-elevation(4);
  .main-image,
  .avatar-image {
    transition: filter 1s ease;
    filter: saturate(50%);
  }
}
.project:hover:not(.disabled) {
  @include mat-elevation(8);
  .main-image,
  .avatar-image {
    filter: saturate(100%);
  }
}

.project.disabled {
  cursor: not-allowed;
  @include mat-elevation(1);
  .header,
  .main-image,
  .content {
    font-style: italic;
    opacity: 70%;
  }
}

.main-image {
  height: fit-content; //so that it takes up full space
  max-height: 500px; // this prevents the image from being extremely big
  object-fit: cover;
  object-position: center; /* this centers and crops the image so that it doesn't break the aspect ratio */
}

.disabled {
  .main-image,
  .avatar-image {
    filter: saturate(0);
  }
}

.card-button {
  margin: 5px;
}
